* {
  margin: 0;
  padding: 0;
  }

*:focus {
  outline: none;
}

header {
  background-color: #660099;
  height: 12vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

section {
  display: flex;
}

form {
  height: 90%;
  width: 55%;
  margin: 2% auto;
  border-radius: 10px;
  box-shadow: 3px 2px 8px 3px rgba(0,0,0,0.2);
}

.header-form-section hr {
  margin-bottom: 3%;
}

.div-prof-data, .div-pers-data {
  padding: 3% 5%;
}

h4 {
  color: #f06d16;
  margin: 1%;
}

.div-10 {
  width: 96%;
  margin: 1% 2%;
}

.div-3 {
  width: 30%;
  margin: 1%
}

.div-infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.div-input, .div-select {
  display: flex;
  flex-direction: column;
}

.div-actions {
  display: flex;
  justify-content: space-evenly;
  margin: 3% 0 5%;
}

.btn-submit {
  background-color: #f06d16;
  width: 140px;
  padding: 1%;
  color: #fff;
  border: solid 1px #f06d16;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #d85600;
  border: solid 1px #c24e00;
  transition: ease-in-out .2s;
}

.input-reset {
  border: solid 1px #c24e00;
  background-color: #fff;
  color: #c24e00;
  width: 130px;
  border-radius: 5px;
}

.input-reset:hover {
  background-color: #f06d16;
  border: solid 1px #f06d16;
  color: #fff;
  cursor: pointer;
  transition: ease-in-out .2s;
}

form label {
  font-size: 14px;
  margin-bottom: 5px;
}

form > p {
  text-align: center;
}

footer {
  padding: 1% 0;
  text-align: center;
  background-color: #660099aa;
} 

footer p {
  margin: 5px;
  color: #f4ebff;
}

footer span {
  padding: 5px;
}

footer span:hover {
  color: #542596;
  cursor: default;
  transition: ease-in-out .2s;
}

footer p + p {
  font-size: 18px;
  margin: 15px 0;
}
